header {
  width: 100vw;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 4rem;
  padding-block: 0.5rem;

  box-shadow: var(--shadow-1);

  & img {
    width: 4rem;
  }

  & nav {
    display: flex;
    gap: var(--gap-2);

    & a {
      transition: var(--transition-2);
    }

    & a:hover {
      color: var(--clr-secondary-1);
      transition: var(--transition-2);
    }
  }
}
